attrs==19.3.0
git+https://github.com/dry-python/dependencies.git@master#egg=dependencies
django-debug-toolbar==2.1
django-extensions==2.2.5
django==2.2.7
djangorestframework==3.10.3
git+https://github.com/dry-python/mappers.git@master#egg=mappers
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
git+https://github.com/dry-python/stories.git@master#egg=stories
