attrs
git+https://github.com/dry-python/dependencies.git@master#egg=dependencies
Django
django-debug-toolbar
django-extensions
djangorestframework
git+https://github.com/dry-python/mappers.git@master#egg=mappers
pydantic
git+https://github.com/dry-python/stories.git@master#egg=stories
