Django
djangorestframework
django-debug-toolbar
django-extensions
attrs
git+https://github.com/dry-python/dependencies.git@master#egg=dependencies
git+https://github.com/dry-python/stories.git@master#egg=stories
git+https://github.com/dry-python/mappers.git@master#egg=mappers
