[flake8]
max-line-length = 88
exclude =
  .tox
  migrations
per-file-ignores =
  # These modules are interfaces.  They contains public classes and
  # functions avalable from the outside.  No code is allowed to be
  # imported from the nested modules.
  bookshelf/*/__init__.py: F401
