asgiref==3.2.7
attrs==19.3.0
cent==3.0.1
certifi==2019.11.28
chardet==3.0.4
dependencies==1.0.1
django-debug-toolbar==2.2
django-environ==0.4.5
django-extensions==2.2.9
django==3.0.4
djangorestframework==3.11.0
idna==2.9
mappers==1.0.2
pathtools==0.1.2
psycopg2==2.8.4
pydantic==1.4
pytz==2019.3
raven==6.10.0
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
stories==0.14.0
urllib3==1.25.8
watchdog==0.10.2
werkzeug[watchdog]==1.0.1
