{% extends 'layout.html' %}

{% load i18n %}

{% block body %}
  <nav>
    <ol>
      <li>
        <a href="/shop/">{% trans 'Shop' %}</a>
      </li>
    </ol>
  </nav>
  <div>
    {% if categories %}
      <ul>
        {% for category in categories %}
          <li>
            {{ category.name }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      {% blocktrans %}
        You are not subscribed to any category.
      {% endblocktrans %}
    {% endif %}
  </div>
{% endblock %}
