{% extends 'layout.html' %}

{% load i18n %}

{% block body %}
  <nav>
    <ol>
      <li>
        <a href="{% url 'category-list' %}">{% trans 'Categories' %}</a>
      </li>
      <li>
        <a href="{% url 'category-shop' %}">{% trans 'Shop' %}</a>
      </li>
      <li>
        <a href="{% url 'profile' %}">{% trans 'Profile' %}</a>
      </li>
    </ol>
  </nav>
  <div>
    {% for entry in entries %}
      <img src="{{ entry.content.url }}">
    {% empty %}
      {% blocktrans %}
        This category is empty.
      {% endblocktrans %}
    {% endfor %}
  </div>
{% endblock %}
