{% extends 'layout.html' %}

{% load i18n %}
{% load index from example %}

{% block body %}
  <nav>
    <ol>
      <li>
        <a href="{% url 'category-list' %}">{% trans 'Categories' %}</a>
      </li>
      <li>
        <a href="{% url 'profile' %}">{% trans 'Profile' %}</a>
      </li>
    </ol>
  </nav>
  <div>
    {% if categories %}
      <ul>
        {% for category in categories %}
          <li>
            {{ category.name }}
            <small>
              {% blocktrans with price=prices|index:category.pk  %}
                Starting from {{ price }}$.
              {% endblocktrans %}
            </small>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      {% blocktrans %}
        There ara no categories available for subscriptions.
      {% endblocktrans %}
    {% endif %}
  </div>
{% endblock %}
