{% extends 'layout.html' %}

{% load i18n %}

{% block body %}
  <nav>
    <ol>
      <li>
        <a href="{% url 'category-list' %}">{% trans 'Categories' %}</a>
      </li>
      <li>
        <a href="{% url 'category-shop' %}">{% trans 'Shop' %}</a>
      </li>
    </ol>
  </nav>
  <div>
    <h1>{% trans 'About' %}</h1>
    <p>
      <b>{% trans 'First name' %}</b><br>
      {{ user.first_name }}
    </p>
    <p>
      <b>{% trans 'Last name' %}</b><br>
      {{ user.last_name }}
    </p>
    <p>
      <b>{% trans 'email' %}</b><br>
      {{ user.email }}
    </p>
    <p>
      <b>{% trans 'Date joined' %}</b><br>
      {{ user.date_joined }}
    </p>
  </div>
  <div>
    <h1>{% trans 'Balance' %}</h1>
    <p>
      <b>{% trans 'Balance' %}</b><br>
      {{ profile.balance }}$
    </p>
    <a href="{% url 'put-money' %}">{% trans 'Invest' %}</a>
  </div>
{% endblock %}
