[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
stories = {editable = true, ref = "c6fa83c4385a24d6a59c1e1980b4460a45c4a64d", git = "https://github.com/dry-python/stories.git"}
dependencies = {editable = true, ref = "ecd379fe1eaadee71b0e062271114f31419fb358", git = "https://github.com/dry-python/dependencies.git"}
attrs = "*"
django-debug-toolbar = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.7"
