[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
stories = {editable = true, ref = "e7a6927adb84c7e08bd803b9591623e747f651ec", git = "https://github.com/dry-python/stories.git"}
dependencies = {editable = true, ref = "162cf64bef55966513fa1cab3f198e5b1a11fcf9", git = "https://github.com/dry-python/dependencies.git"}
attrs = "*"
django-debug-toolbar = "*"
django-extensions = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.7"
