[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
stories = {editable = true, ref = "ccf2ac1b43d9669ac760bb0a8ebad0a83911b419", git = "https://github.com/dry-python/stories.git"}
dependencies = {editable = true, ref = "f71fcbb003ea173db423d1d020037a9c010bca42", git = "https://github.com/dry-python/dependencies.git"}
attrs = "*"
django-debug-toolbar = "*"
django-extensions = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.7"
