Django
djangorestframework
django-debug-toolbar
django-extensions
attrs
-e git+https://github.com/dry-python/dependencies.git@e2b09b1f4244aa2b7d74566324b725a3d8e6c975#egg=dependencies
-e git+https://github.com/dry-python/stories.git@534aebde54ca0b206e1d1cf0933624ae027fe8ab#egg=stories
