Django==2.2.7
djangorestframework==3.10.3
django-debug-toolbar==2.0
django-extensions==2.2.5
attrs==19.3.0
dependencies==0.16.dev0
stories==0.11.dev0
mappers==0.1.dev0
## The following requirements were added by pip freeze:
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
